{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="container-fluid">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Espere! Não vá ainda...</h4>
            <p>Antes de ir embora (😭), precisamos ter certeza que você não quer mais nenhuma ajuda com suas tarefas por hoje... (😢)</p>
            <hr>
            <p>Por favor, confirme clicando no botão abaixo.</p>
        </div>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sair</button>
        </form>
    </section>
{% endblock content %}