</main>
<section class="">
    <!-- Footer -->
    <footer class="mt-auto text-center text-white" style="background-color: #28242c;">
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            @2024 Copyright:
        <a class="text-white" href="https://linkedin.com/in/devflores">Fernando Aurelius|Floresdev</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    </section>
